#main {
    line-height: 1.5rem;
    background-color: #F1F1F1;
  padding: 20px
    margin: 20px
  }
#head {
  text-align: center;
  padding: 20px;
  background-color: #e6e6e6;
}
#img-div {
  text-align: center;
}
#image {
  display: block;
  margin: 10px auto 5px;
  width: 30%;
  max-width: 100%;
  height: auto;
}

  .container {
    /* display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 10px;
    max-width: 100%; */
  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
   align-items: center;
   grid-column-gap: 10px;
   margin-top: 60px;
  }
  img {display: block;
  border-radius: 5px;
}
  #first-image {
    width: auto;
    /* max-width: 100%; */
    height: 405px;

  }

  .item {
    justify-self: center;
    text-align: center;
    max-width: 100%;
    margin: 10px;
  }
  #last-item {
  diplay: block;
    /* grid-template-column: 1fr; */
    /* justify-self: center; */
    text-align: center;
  }
#last-item img {
  display: block;
  margin: 10px auto 0px;
  max-width: 100%;
}
  #ambition-list {
    list-style-type: none;
  }
  
  #ambition-list li:before {
    content: ' ✓';
  }
  
  .subhead {
      margin-left: 20px;
  }

#last-p {
  text-align: center;
  /* margin-bottom: 30px; */
  padding: 30px 0 50px;
}

footer {
  text-align: center;
  padding-bottom: 30px;
}

@media (max-width: 540px) {
#image {
  width: 60%;
  height: auto;
}
}